* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

html,
body {
    height: 100%;
}

ul {
    list-style: none;
}

[class^="flaticon-"]:before,
[class*=" flaticon-"]:before,
[class^="flaticon-"]:after,
[class*=" flaticon-"]:after {
    margin-left: 0 !important;
}

button {
    cursor: pointer;
    background: none;
    border: none;
}


/* ::::: COMMONLY USED CLASSES STARTS HERE ::::: */

.fleft {
    float: left;
}

.fright {
    float: right;
}

.clearfix:after {
    content: '';
    display: block;
    clear: both;
}

.height-100-per {
    height: 100%;
}

.ad-main-section {
    position: absolute;
    top: 100%;
    width: 100%;
}

h4.ad-section__title {
    font-size: 32px;
    font-weight: 700;
    text-align: center;
    position: relative;
    padding-bottom: 8px;
    color: #464a4f;
    padding-top: 40px;
}

h4.ad-section__title.light-color {
    color: #fff;
}

h4.ad-section__title:after {
    content: '';
    position: absolute;
    width: 150px;
    height: 4px;
    background: #464a4f;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

h4.ad-section__title.light-color:after {
    background: #fff;
}

.ad-layout-container {
    max-width: 1100px;
    margin: auto;
}

.bold {
    font-weight: 700;
}

/* ::::: COMMONLY USED CLASSES ENDS HERE ::::: */


/* ::::: HEADER CLASSES STARTS HERE ::::: */

.ad-header {
    position: absolute;
    top: 0;
    width: 100%;
    height: 80px;
    z-index: 999;
}

a.ad-header__logo {
    font-size: 24px;
    font-weight: 700;
    color: #fff;
    text-decoration: none;
    height: 60px;
    padding: 12px 10px;
    margin-top: 9px;
    margin-left: 50px;
}

a.ad-header__nav__link {
    font-size: 0.85em;
    font-weight: 600;
    text-decoration: none;
    color: #fff;
    padding: 10px 15px;
    float: left;
}

nav.ad-header__nav {
    margin-top: 19px;
}

button.ad-header-button {
    height: 38px;
    background: rgba(255, 255, 255, 0.1);
    border: 2px solid #fff;
    padding: 0 20px;
    border-radius: 20px;
    margin-top: 19px;
    margin-left: 20px;
    margin-right: 50px;
}

span.ad-header-button__title {
    font-size: 13px;
    font-weight: 400;
    line-height: 14px;
    color: #fff;
}

.ad-header-mobile-button {
    display: none;
}

.ad-header.fixed-header {
    position: fixed;
    top: -100px;
    background: #fff;
    box-shadow: 0 0 15px 0 RGBA(0, 0, 0, 0.29);
    transition: all 0.2s ease-in;
}

.ad-header.fixed-header .ad-header__logo,
.ad-header.fixed-header .ad-header__nav__link,
.ad-header.fixed-header .ad-header-button__title {
    color: #00aeef;
}

.ad-header.fixed-header span.ad-header-mobile-button__icon-line {
        background: #00aeef;
    }

.ad-header.fixed-header button.ad-header-button {
    border-color: #00aeef;
}

.ad-header.fixed-header {
    top: 0;
}

/* ::::: HEADER CLASSES ENDS HERE ::::: */


/* ::::: BANNER CLASSES STARTS HERE ::::: */

.ad-banner-section {
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    background-image: url(../images/banner_image_2.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.ad-banner__text-wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

h1.ad-banner__title {
    font-weight: 700;
    text-align: center;
    color: #fff;
    font-size: 3.25em;
}

h4.ad-banner__sub-title {
    width: 850px;
    margin: auto;
    text-align: center;
    font-size: 19px;
    font-weight: 400;
    margin-top: 20px;
    color: #fff;
    line-height: 32px;
}

button.ad-banner__primary-button {
    height: 42px;
    padding: 0 20px;
    background: rgba(255, 255, 255, 0.1);
    border: 2px solid #fff;
    border-radius: 22px;
    width: 170px;
    text-align: left;
    color: #fff;
    margin: auto;
    display: block;
    margin-top: 32px;
    box-shadow: -3px 5px 6px 0px rgba(0, 0, 0, 0.1);
    position: relative;
}

.ad-banner__quick-sign-up {
    position: absolute;
    bottom: 0;
    height: 127px;
    width: 100%;
    background: rgba(0, 0, 0, 0.2);
}

h3.ad-banner__quick-sign-up__title {
    color: #fff;
    font-weight: 100;
    font-size: 17px;
    text-align: center;
    margin-top: 20px;
}

input.ad-banner__quick-sign-up__input {
    width: calc((100% / 3) - 150px);
    margin-right: 28px;
    background: rgba(255, 255, 255, 0.1);
    border: 1px solid #fff;
    border-radius: 2px;
    color: #fff;
    padding: 8px 10px;
    font-size: 0.84em;
    height: 36px;
}

input.ad-banner__quick-sign-up__input::-webkit-input-placeholder {
    color: #fff;
}

input.ad-banner__quick-sign-up__input:-moz-placeholder {
    color: #fff;
}

input.ad-banner__quick-sign-up__input::-moz-placeholder {
    color: #fff;
}

input.ad-banner__quick-sign-up__input:-ms-input-placeholder {
    color: #fff;
}

.ad-banner__quick-sign-up__input-wrapper {
    text-align: center;
    margin-top: 20px;
}

button.ad-banner__quick-sign-up__button {
    padding: 0 30px;
    height: 38px;
    border: none;
    background: #fff;
    border-radius: 20px;
    box-shadow: -3px 5px 6px 0px rgba(0, 0, 0, 0.1);
}

span.ad-banner__primary-button__icon:before {
    font-size: 2.2em;
}

span.ad-banner__primary-button__icon {
    position: absolute;
    right: 7px;
    top: 6px;
}

span.ad-banner__quick-sign-up__button__title {
    font-size: 14px;
    font-weight: 600;
    line-height: 16px;
    color: #269ccd;
}

span.ad-banner__primary-button__title {
    font-size: 1.35em;
    font-weight: 600;
    line-height: 14px;
}


/* ::::: BANNER CLASSES ENDS HERE ::::: */


/* ::::: MEET YOUR ACC CLASSES STARTS HERE ::::: */

.ad-meet-u-acc {
    padding-bottom: 80px;
}

ul.ad-meet-u-acc__list {
    width: 400px;
    margin-left: 50px;
    margin-top: 60px;
}

li.ad-meet-u-acc__list__item {
    height: 90px;
    margin-bottom: 30px;
}

.ad-meet-u-acc__list__item__icon {
    height: 100%;
    width: 70px;
    float: left;
    background-repeat: no-repeat;
    background-size: 70%;
    background-position: center center;
}

.ad-meet-u-acc__list__item__icon.icon1 {
    background-image: url(../images/users-icon.png);
    background-size: contain;
}

.ad-meet-u-acc__list__item__icon.icon2 {
    background-image: url(../images/clock-icon.png);
}

.ad-meet-u-acc__list__item__icon.icon3 {
    background-image: url(../images/location_icon.png);
}

.ad-meet-u-acc__list__item__data {
    width: calc(100% - 100px);
}

h6.ad-meet-u-acc__list__item__data__title {
    font-size: 1.1em;
    color: #464a4f;
    margin-top: 8px;
}

p.ad-meet-u-acc__list__item__data__text {
    font-size: 0.9em;
    color: #464a4f;
    margin-top: 10px;
}

.ad-meet-u-acc__chat-window {
    width: 300px;
    height: 320px;
    /* border: 1px solid #464a4f; */
    margin-top: 70px;
    margin-right: 50px;
}

.ad-meet-u-acc__chat-window__header {
    height: 34px;
    background: #464a4f;
    padding-left: 5px;
    border-radius: 5px 5px 0px 0px;
}

span.ad-meet-u-acc__chat-window__header__circle {
    width: 12px;
    height: 12px;
    background: #fff;
    border-radius: 50%;
    margin-left: 10px;
    margin-top: 10px;
}

.ad-meet-u-acc__chat-input__wrapper {
    height: 35px;
    border: 1px solid #cdd0d4;
    border-radius: 0 0 5px 5px;
}

ul.ad-meet-u-acc__chat-window__message-wrapper {
    height: calc(100% - 65px);
    border: 1px solid #cdd0d4;
    border-top: none;
    border-bottom: none;
    padding: 15px;
    background: #f6f8fc;
    overflow: auto;
}

input.ad-meet-u-acc__chat-input {
    height: 100%;
    width: calc(100% - 36px);
    border: none;
    padding: 0 12px;
    font-size: 13px;
    font-weight: 100;
    border-radius: 0 0 0 5px;
}

button.ad-meet-u-acc__chat-input__button {
    width: 36px;
    border: none;
    height: 100%;
    background: #00aeef;
    border-radius: 0 0 4px 0;
}

button.ad-meet-u-acc__chat-input__button.flaticon-symbol-mail-1:before {
    font-size: 1.3em;
    color: #fff;
}

li.ad-meet-u-acc__chat-window__message {
    width: calc(100% - 40px);
    margin: auto;
    display: block;
    margin-bottom: 20px;
    opacity: 0;
    transition: all 0.15s ease-out;
}

li.ad-meet-u-acc__chat-window__message {
    transform: translateY(30px);
}

li.ad-meet-u-acc__chat-window__message.animate {
    transform: translateY(0);
    opacity: 1;
}

.ad-meet-u-acc__chat-window__message__user-image {
    height: 40px;
    width: 40px;
    margin-top: 5px;
    border-radius: 50%;
    background: url(../images/chat-user.png);
    background-size: contain;
}

.ad-meet-u-acc__chat-window__message__data {
    width: calc(100% - 30px);
    border-radius: 3px;
    padding: 7px 12px;
    box-shadow: 0 0 15px 0 rgba(140, 140, 140, 0.4);
    color: #464a4f;
}

p.ad-meet-u-acc__chat-window__message__data__text {
    font-size: 13px;
    opacity: 0.9;
}

span.ad-meet-u-acc__chat-window__message__data__secondary-text {
    font-size: 9px;
    font-weight: 600;
    opacity: 0.8;
}

li.ad-meet-u-acc__chat-window__message.slef-message .ad-meet-u-acc__chat-window__message__data,
li.ad-meet-u-acc__chat-window__message.fright .ad-meet-u-acc__chat-window__message__data {
    width: calc(100% - 30px);
    background: #00aeef;
    color: #fff;
}

/* ::::: MEET YOUR ACC CLASSES ENDS HERE ::::: */


/* ::::: HOW IT WORKS CLASSES STARTS HERE ::::: */

.ad-how-it-works {
    background: #f7fafc;
    padding: 20px 0 120px 0;
}

.ad-how-it-works__list__item__image {
    width: 300px;
    height: 150px;
    background-repeat: no-repeat;
    background-position: center center;
}

.ad-how-it-works__list__item__image.img1 {
    background-image: url(../images/info-g-1.png);
    background-size: 60%;
}

.ad-how-it-works__list__item__image.img2 {
    background-image: url(../images/info-g-2.png);
    background-size: 95%;
}

.ad-how-it-works__list__item__image.img3 {
    background-image: url(../images/info-g-3.png);
    background-size: 70%;
}

.ad-how-it-works__list__item__data {
    width: calc(100% - 350px);
    color: #464a4f;
}

ul.ad-how-it-works__list {
    margin-top: 70px;
}

li.ad-how-it-works__list__item {
    margin-bottom: 120px;
    position: relative;
}

li.ad-how-it-works__list__item:last-child {
    margin-bottom: 0;
}

h3.ad-how-it-works__list__item__data__title {
    font-size: 2.2em;
    font-weight: 600;
    margin: 12px 0;
}

p.ad-how-it-works__list__item__data__text {
    font-size: 1.2em;
}

.ad-how-it-works__list__item__path-line:before,
.ad-how-it-works__list__item__path-line:after {
    content: '';
    position: absolute;
    height: 60px;
    width: 70%;
    border: 1px solid #c2c5c8;
    margin: auto;
}

.ad-how-it-works__list__item__path-line:before {
    bottom: -60px;
    border-right-color: transparent;
    border-top-color: transparent;
    border-radius: 0px 0px 0px 20px;
    left: 15%;
    width: 60%;
}

.ad-how-it-works__list__item__path-line:after {
    bottom: -121px;
    border-bottom-color: transparent;
    border-left-color: transparent;
    border-radius: 0px 20px 0px 0px;
    right: 15%;
    width: 60%;
}

.ad-how-it-works__list__item__path-line.rotate:before {
    transform: rotateX(180deg);
    transform-origin: bottom;
}

.ad-how-it-works__list__item__path-line.rotate:after {
    transform: rotateX(180deg);
    transform-origin: top;
    top: 212px;
}

/* ::::: HOW IT WORKS CLASSES ENDS HERE ::::: */


/* ::::: REPORTS CLASSES STARTS HERE ::::: */

.ad-reports {
    background: url(../images/reports-bg.png) no-repeat;
    background-size: cover;
    background-position: center center;
    height: 550px;
}

li.ad-reports__list__item {
    float: left;
    width: calc(100% / 3);
    text-align: center;
}

.ad-reports__list__item__icon {
    width: 120px;
    height: 120px;
    margin: auto;
    position: relative;
}

.ad-reports__list__item__icon.flaticon-smartphone-search-1:before,
.ad-reports__list__item__icon.flaticon-calculator-ic-1:before {
    position: absolute;
    font-size: 3.5em;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
}

.ad-reports__list__item__icon.flaticon-smartphone-search-1:before {
    color: #4692b2;
}

.ad-reports__list__item__icon.flaticon-calculator-ic-1:before {
    color: #8081e3;
}

.ad-reports__list__item__icon.percentage-icon:before {
    content: '';
    position: absolute;
    width: 50px;
    height: 50px;
    border: 2px dashed #bc7ccf;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

.ad-reports__list__item__icon.percentage-icon:after {
    content: '';
    position: absolute;
    width: 30px;
    height: 2px;
    background: #bc7ccf;
    top: 50%;
    transform-origin: center center;
    transform: translateX(-50%) translateY(-50%) rotate(-45deg);}

.ad-reports__list__item__icon.percentage-icon span {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

.ad-reports__list__item__icon.percentage-icon span:before {
    content: '';
    position: absolute;
    width: 3px;
    height: 3px;
    border-radius: 50%;
    border: 2px solid #bc7ccf;
    top: -10px;
    left: -11px;
}

.ad-reports__list__item__icon.percentage-icon span:after {
    content: '';
    position: absolute;
    width: 3px;
    height: 3px;
    border-radius: 50%;
    border: 2px solid #bc7ccf;
    bottom: -10px;
    right: -11px;
}

.ad-reports__list__item__data {
    width: 240px;
    margin: auto;
    color: #fff;
}

h5.ad-reports__list__item__data__title {
    font-size: 0.9em;
    font-weight: 700;
    letter-spacing: 0.11em;
    line-height: 25px;
}

p.ad-reports__list__item__data__text {
    font-size: 0.83em;
    font-weight: 100;
    opacity: 0.6;
    margin-top: 23px;
    line-height: 22px;
}

ul.ad-reports__list {
    margin-top: 90px;
}

/* ::::: REPORTS CLASSES ENDS HERE ::::: */


/* ::::: ABOUT CLASSES STARTS HERE ::::: */

.ad-about {
    height: 320px;
    background: url(../images/about-bg.png) no-repeat;
    background-size: cover;
    background-position: center center;
}

.ad-about__col__wrapper {
    height: 100%;
    color: #fff;
}

.ad-about__data-col {
    height: 100%;
    width: 40%;
    background: rgba(0, 174, 239, 0.92);
    padding: 75px 0 0 50px;
}

.ad-about__list-col {
    height: 100%;
    background: rgba(88, 99, 113, 0.92);
    width: 60%;
}

.ad-about__list-col__list__item__icon:before {
    position: absolute;
    font-size: 4.1em;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
}

h6.ad-about__data-col__sub-title {
    font-size: 1em;
    font-weight: 700;
    letter-spacing: 0.13em;
}

h4.ad-about__data-col__title {
    font-size: 1.65em;
    letter-spacing: 0.08em;
    margin-top: 5px;
}

p.ad-about__data-col__text {
    font-size: 0.95em;
    font-weight: 100;
    width: 320px;
    margin-top: 30px;
    letter-spacing: 0.05em;
}

ul.ad-about__list-col__list {
    height: 100%;
    width: calc(100% - 80px);
    display: flex;
    justify-content: space-around;
    margin: auto;
    align-items: center;
}

li.ad-about__list-col__list__item {text-align: center;}

.ad-about__list-col__list__item__icon__wrapper {
    width: 100px;
    height: 100px;
    background: rgba(0, 0, 0, 0.3);
    margin-bottom: 15px;
    position: relative;
}

.ad-about__list-col__list__item__icon.user-icon {
    height: 100%;
    background: url(../images/prof-icon.png) no-repeat;
    background-size: 50%;
    background-position: center center;
}

span.ad-about__list-col__list__item__text-1 {
    display: block;
    font-size: 0.9em;
    font-weight: 700;
}

span.ad-about__list-col__list__item__text-2 {
    display: block;
    font-size: 0.9em;
    margin-top: 8px;
    opacity: 0.6;
}

/* ::::: ABOUT CLASSES ENDS HERE ::::: */


/* ::::: PREVIEW CLASSES STARTS HERE ::::: */

.ad-preview {
    height: 660px;
    position: relative;
}

ul.ad-preview__screen__list {
    position: absolute;
    width: 43%;
    height: 460px;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    border: 1px solid #000;
    border-radius: 4px 0px 0px 4px;
    border-right: none;
}

.ad-preview__data-slider {
    width: 350px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 70px;
}

li.ad-preview__data-slider__nav__selector {
    width: 38px;
    height: 5px;
    background: rgba(88, 99, 113, 0.2);
    border-radius: 5px;
    float: left;
    margin-right: 26px;
    cursor: pointer;
}

ul.ad-preview__data-slider__content__wrapper {
    margin-top: 30px;
}

h6.ad-preview__data-slider__content__title {
    font-size: 1.9em;
    font-weight: 700;
}

li.ad-preview__data-slider__content {
    color: #464a4f;
}

p.ad-preview__data-slider__content__text {
    font-size: 0.95em;
    letter-spacing: 0.03em;
    line-height: 25px;
    margin-top: 5px;
}

li.ad-preview__data-slider__nav__selector.active {
    background: #269ccd;
}

/* ::::: PREVIEW CLASSES ENDS HERE ::::: */


/* ::::: TRAIL CLASSES STARTS HERE ::::: */

.ad-trail {
    height: 220px;
    background: url(../images/trail-bg.png) no-repeat;
    background-size: cover;
    background-position: center center;
}

span.ad-trail__text {
    display: block;
    font-size: 1.2em;
    color: #fff;
    letter-spacing: 0.04em;
    text-align: center;
    padding-top: 60px;
}

button.ad-trail__button {
    display: block;
    width: 170px;
    margin: auto;
    margin-top: 45px;
    padding: 10px;
    border: none;
    background: rgba(0, 0, 0, 0.25);
    border-radius: 3px;
}

span.ad-trail__button__title {
    color: #fff;
    font-size: 1.1em;
    font-weight: 600;
    letter-spacing: 0.06em;
    word-spacing: 0.1em;
}

/* ::::: TRAIL CLASSES ENDS HERE ::::: */


/* ::::: FOOTER CLASSES STARTS HERE ::::: */

.ad-footer {
    height: 230px;
    background: #3e3e53;
    padding: 0 70px;
}

nav.ad-footer__primary-nav {
    float: left;
    width: 120px;
    margin-right: 30px;
    position: relative;
    margin-top: 55px;
}

a.ad-footer__primary-nav__link {
    display: block;
    color: rgba(255, 255, 255, 0.8);
    text-decoration: none;
    font-size: 0.75em;
    letter-spacing: 0.03em;
    padding: 5px 0;
    margin-bottom: 8px;
}

nav.ad-footer__primary-nav:before {
    content: '';
    position: absolute;
    width: 25px;
    height: 3px;
    background: #fff;
    border-radius: 4px;
    top: -15px;
}

a.ad-footer__primary-nav__link:hover {
    text-decoration: underline;
}

nav.ad-footer__secondary-nav {
    float: right;
    text-align: center;
}

.ad-footer__secondary-nav__link__icon__wrapper {
    width: 80px;
    height: 80px;
    background: rgba(255, 255, 255, 0.1);
    margin: auto;
    margin-bottom: 12px;
    position: relative;
}

span.ad-footer__secondary-nav__icon:before {
    position: absolute;
    left: 50%;
    top: 50%;
    font-size: 3em;
    transform: translateX(-50%) translateY(-50%);
}

a.ad-footer__secondary-nav__link {
    float: left;
    margin-left: 60px;
    text-decoration: none;
    color: #fff;
    margin-top: 60px;
}

span.ad-footer__secondary-nav__link__text {
    font-size: 14px;
}

a.ad-footer__secondary-nav__link:first-child {
    margin-left: 0;
}

a.ad-footer__secondary-nav__link:hover {
    text-decoration: underline;
}

/* ::::: FOOTER CLASSES ENDS HERE ::::: */
